    <style>
        h1{
            color:blue;
        }
        p{
            color:black;
        }
            

        #parrafo2{
            color: orange;
        }
        
        .subtitulo{
            color: white;
            background: black;
        }




    </style>